/.*
!/.gitignore
!/.github
!/.travis.yml
/bower_components/
/node_modules/
/output/

/pursuit.json

# Release builds of the purescript compiler appear to be compiled with
# profiling enabled.  This causes psc and friends to create these *.tix files.
*.tix
